<div>
{{#each users as |user|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{postTitle}}</h5>
    {{#each comments}}
    <p class="card-text">{{this.commentDesc}}.</p>
  </div>
  {{/each}}
</div>
