{{#each posts as |post|}}
    <div class="eventCard">
        <h2>{{post.postTitle}}</h2>
        <p>{{post.postDesc}}</p>
        <p>{{user.username}}</p>
        <p class="card">{{comment.commentDesc}}</p>
        <!-- Render other properties as needed -->
    </div>
    {{/each}}





