{{!-- <div class="eventCard">
{{#each postArr}}
<div>
{{ postDesc }}
{{ name }}
</div>
{{/each}}
</div> --}}
 <div>
  <form action="/submit" method="POST">
    <input type="text" name="eventName" placeholder="Input your event name here!" />
    <input type="date" name="date" />
    <button type="submit">Submit</button>
  </form>
  </div>





