<div>
  {{#each posts}}
    <div>
      <h3>{{postTitle}}</h3>
      <p>{{postDesc}}</p>
      <p>By {{user.username}}</p>
      <ul>
        {{#each comments}}
          <li>{{this.commentDesc}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>





